# LaTeX temporary files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.dvi
*.ps
*.bcf
*.run.xml
*.spl
*.upa
*.upb
*.thm
*.tdo
*.tps
*.tmp
*.bak
*.gz
*.mtc
*.mtc0
*.maf
*.mlf
*.mpt
*.mw
*.sta
*.dpth
*.md5
*.fig
*.jfm
*.sav
*.glg
*.glo
*.ist
*.xmp
*.gz(log)